<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CYXFYN5E5X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CYXFYN5E5X');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts Page</title>
    <link rel="stylesheet" href="static/profile_page1.css">
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/menu.css">
</head>
<body>
    <nav class="navbar">
        <button class="menu-btn" id="menu-btn">☰</button>
        <div class="nav-text">abou talib.com</div>
        <div class="logo1"><img src="static/img/logo.png" width="38px"></div>
      </nav>
      <div class="menu" id="menu">
        <a href="{{url_for('sport')}}">الرياضة</a>
        <a href="{{url_for('takafa')}}">الثقافة و الفنون</a>
        <a href="{{url_for('arabec')}}">تحدي القرائة العربي</a>
        <a href="{{url_for('post_add')}}">لوحة القيادة</a>
    </div>
    <main>
        {% for post in posts %}
        <section class="article">
            <div class="post">
                <img src="static/img/OIIP.jpeg" class="profile">
                <span>الاخبار</span>
                <b>{{post.date}}</b>
            </div>
        {% if post.photo_url %}
        <img src="{{post.photo_url}}">
        {% endif %}
        {% if post.vedio %}
        <video src="{{ post.vedio }}" controls></video>
        {% endif %}
            <h2>{{post.title}}</h2>
            <p id="paragraph{{post.id}}" class="paragraph">
                {{post.body}}
            </p>
            <a href="javascript:void(0);" id="toggle-link{{post.id}}" class="toggle-link">عرض المزيد</a> 
        </section>
        {% endfor %}
    </main>
    <script src="static/js/java.js"></script>
</body>
</html>